@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-decoration: none;
}

a {
  color: #fff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --font: "Roboto", sans-serif;
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: #ff6257;
  --pink: #ff5274;
}

body {
  background-color: var(--Charcoal-Grey);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font: 16px var(--font);
}

/* main section */
main {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: var(--White);
  display: flex;
  padding: 1.5635rem;
  margin: 6.25rem 3.125rem;
  border-radius: 20px;
}

h1 {
  font-size: 3.125rem;
}

button {
  border: none;
  padding: 5px;
  outline: none;
  height: 40px;
  border-radius: 5px;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  font-weight: bold;
  transition: background-color 1s ease;
}

button:hover {
  background-color: tomato;
  background-image: linear-gradient(to right, var(--pink), var(--tomato));
}

/* SIGNUP SECTION */
.signUp-container {
  max-width: 58.125rem;
  max-height: 40rem;
}

.signUp-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.875rem;
  justify-content: center;
  gap: 1.25rem;
}

.flex-line {
  display: flex;
  gap: 1rem;
}

/* form input */
.form_group {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.form_group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form_group input {
  border: 1px solid var(--Grey);
  outline: none;
  padding: 20px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  position: relative;
}

::placeholder {
  font-weight: bold;
}

/* validation */
.text {
  color: var(--Tomato);
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  right: 50%;
}

.error-input {
  color: var(--Tomato);
  border: 1px solid var(--Tomato);
  background-color: hsla(4, 100%, 67%, 0.1);
}

/* smaller card */
.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
  flex-direction: column;
  padding: 3.75rem;
  max-width: 31.25rem;
  border-radius: 20px;
  z-index: 10;
}

.hidden {
  display: none;
}

.success img {
  width: 50px;
  height: 50px;
  margin-bottom: 1.5rem;
}

.success h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.success p {
  margin-top: 1rem;
}

.success button {
  width: 100%;
  background-color: var(--Tomato);
  height: 45px;
  transition: 0.5s;
  cursor: pointer;
  padding: 15px;
}

.success button:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
